<div class="row">
	<div class="span10">
		<h2> New Reimbursement </h2>
		<%= render 'pages/reimbursement_form' %>
	</div>
	<div class="span4">
		<h3> Open Reimbursements </h3>
		<ul class="unstyled">
			<% @reimbursements.each do |reimbursement| %>
				<li><%= link_to reimbursement.title, reimbursement %></li>
			<% end %>
		</ul>
	</div>
</div>